In [7]:
# Add the parent directory to sys.path
import sys, os
from pathlib import Path

current_directory = os.getcwd()
parent_directory = Path(current_directory).parent.parent
sys.path.insert(0, str(parent_directory))
sys.path

['c:\\Users\\mekbi\\Desktop\\Kifiya\\week-2\\telecom-data-analysis',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-2\\telecom-data-analysis',
 'C:\\Users\\mekbi\\AppData\\Local\\Programs\\Python\\Python312\\python312.zip',
 'C:\\Users\\mekbi\\AppData\\Local\\Programs\\Python\\Python312\\DLLs',
 'C:\\Users\\mekbi\\AppData\\Local\\Programs\\Python\\Python312\\Lib',
 'C:\\Users\\mekbi\\AppData\\Local\\Programs\\Python\\Python312',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-2\\telecom-data-analysis\\venv',
 '',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-2\\telecom-data-analysis\\venv\\Lib\\site-packages',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-2\\telecom-data-analysis\\venv\\Lib\\site-packages\\win32',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-2\\telecom-data-analysis\\venv\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\mekbi\\Desktop\\Kifiya\\week-2\\telecom-data-analysis\\venv\\Lib\\site-packages\\Pythonwin']

### Load satisfaction data

In [8]:
import pandas as pd
satisfaction_data = pd.read_pickle('./satisfaction_data.pkl')
satisfaction_data.head()

   MSISDN/Number  Engagement Score  Experience Score  Satisfaction Score
0   3.360100e+10          0.748742          0.831074            0.789908
1   3.360100e+10          0.698508          0.826095            0.762302
2   3.360100e+10          0.728257          0.811697            0.769977
3   3.360101e+10          0.714383          0.870518            0.792450
4   3.360101e+10          0.829207          1.071158            0.950182

### Cluster the data to two groups

In [9]:
# Import engagement_utils module
from scripts import enagagement_utils

In [10]:
# Normalize the data
normalized_data = enagagement_utils.normalize_data(df=satisfaction_data.drop('MSISDN/Number', axis=1))
normalized_data

array([[6.03678514e-02, 1.03616407e-02, 3.45822869e-02],
       [3.00663042e-02, 7.87994357e-03, 1.54443543e-02],
       [4.80108414e-02, 7.03944599e-04, 2.07651749e-02],
       ...,
       [4.14016172e-02, 8.81094112e-07, 1.64784015e-02],
       [4.92956693e-02, 3.06213187e-04, 2.12268663e-02],
       [3.75969451e-02, 1.76219530e-06, 1.42927539e-02]])

In [11]:
# Cluster data
clusters = enagagement_utils.cluster_data(normalized_data=normalized_data,
                                          n_clusters=2)
clusters

INFO:root:K-Means clustering successful, customers classified into three groups

array([1, 1, 1, ..., 1, 1, 1], dtype=int32)

In [12]:
# Add the cluster data to the satisfaction data
satisfaction_data['Cluster'] = clusters
satisfaction_data.head()

,MSISDN/Number,Engagement Score,Experience Score,Satisfaction Score,Cluster
0,3.360100e+10,0.748742,0.831074,0.789908,1
1,3.360100e+10,0.698508,0.826095,0.762302,1
2,3.360100e+10,0.728257,0.811697,0.769977,1
3,3.360101e+10,0.714383,0.870518,0.792450,1
4,3.360101e+10,0.829207,1.071158,0.950182,1

In [13]:
# group the data by the clusters
cluster_data = satisfaction_data.groupby('Cluster')
cluster_data.head()

,MSISDN/Number,Engagement Score,Experience Score,Satisfaction Score,Cluster
0,3.360100e+10,0.748742,0.831074,0.789908,1
1,3.360100e+10,0.698508,0.826095,0.762302,1
2,3.360100e+10,0.728257,0.811697,0.769977,1
3,3.360101e+10,0.714383,0.870518,0.792450,1
4,3.360101e+10,0.829207,1.071158,0.950182,1
29,3.360105e+10,0.906062,1.033503,0.969782,0
133,3.360127e+10,0.988350,1.050487,1.019418,0
147,3.360128e+10,0.946613,1.075242,1.010927,0
403,3.360207e+10,1.035319,1.172150,1.103734,0
445,3.360223e+10,0.914443,1.080510,0.997476,0

### Aggregate average scores per cluster

In [14]:
scores = ['Engagement Score', 'Experience Score', 'Satisfaction Score']
average_scores = cluster_data[scores].mean()
average_scores

         Engagement Score  Experience Score  Satisfaction Score
Cluster
0                 0.91974           1.26727            1.093505
1                 0.74115           0.87432            0.807735